// Custom variables

// @select-folder-border-color: #666;
// @select-folder-background-color: #f8f8f8;

// @scrollbar-background-color: #979797;
// @scrollbar-thumb-background-color: #404040;

// option
@page-background-color: white;
@logo-text-color: @page-background-color;
@logo-background-color: rgba(255, 255, 255, 0.2);

// Rules.vue
@scrollbar-background-color: #e1e1e1;
@scrollbar-thumb-background-color: #939596;
@filtered-color: #108ee9;

// Batch.vue
@general-background-color: #fff;
@arrow-color: #d12121;

// popup
@match-color: @arrow-color;
